<div class="header-container">
  <h1>Hello</h1>
  <p>Navigate to different application by clicking button.</p>
</div>

<div class="body-container">
  <button type="button">Home</button>
  <button type="button" routerLink="/inclass">In class activity</button>
  <button type="button" routerLink="/change_title_color">Change the title color</button>
  <button type="button" routerLink="/data_binding">Data binding</button>
  <button type="button" routerLink="/product">Product list</button>
  <button type="button" routerLink="/task">Task list</button>
  <button type="button" routerLink="/user_registration_form">User registration form</button>
</div>

<router-outlet></router-outlet>